[user]
  name = Mikhail Grishko
  email = mikhail.grishko@gmail.com
[core]
  ;autocrlf = input
  editor = vim
  ;safecrlf = true
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  uncommit = reset --soft HEAD^
[push]
  default = current
[pull]
  default = current
[color]
  ui = true
[giggle]
  main-window-maximized = true
  main-window-geometry = 0x0+0+0
  history-view-vpane-position = 301
  main-window-view = HistoryView:
  file-view-vpane-position = 129
