[user]
  name = Mikhail Grishko
  email = mikhail.grishko@gmail.com
[core]
  ;autocrlf = input
  editor = vim
  ;safecrlf = true
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  uncommit = reset --soft HEAD^
[push]
  default = current
[color]
  ui = true
[giggle]
  main-window-maximized = true
  main-window-geometry = 0x0+0+0
  history-view-vpane-position = 301
  main-window-view = HistoryView:
  file-view-vpane-position = 129

;[remote "origin"]
       ;fetch = +refs/heads/*:refs/remotes/origin/*
       ;url = git@git.assembla.com:webforms2.git
;[branch "master"]
       ;remote = origin
       ;merge = refs/heads/master
;[branch "rails3"]
       ;remote = origin
       ;merge = refs/heads/rails3
;[remote "origin"]
       ;fetch = +refs/heads/*:refs/remotes/origin/*
       ;url = git@github.com:ZombieHarvester/GoodsMaster.git
;[branch "develop"]
       ;remote = origin
       ;merge = refs/heads/develop
[remote "origin"]
       fetch = +refs/heads/*:refs/remotes/origin/*
       url = git@github.com:mikhailaleksandrovi4/ruby_courses.git
